@font-face {
    font-family: 'SansationRegular';
    src: url('Sansation_Regular-webfont.eot');
    src: url('Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Sansation_Regular-webfont.woff') format('woff'),
         url('Sansation_Regular-webfont.ttf') format('truetype'),
         url('Sansation_Regular-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: url('Sansation_Bold-webfont.eot');
    src: url('Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Sansation_Bold-webfont.woff') format('woff'),
         url('Sansation_Bold-webfont.ttf') format('truetype'),
         url('Sansation_Bold-webfont.svg#SansationBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	margin:0px;
	background-color: rgba(0, 0, 0, 0);
	font-family: 'SansationRegular';
	color:#FFFFFF;
}

#board {
	position:absolute;
	top:0px;
	left:0px;
	width:1280px;
	height:100px;
	background-image:url('../images/game.png');
}

#pName1 {
	position:absolute;
	left:175px;
	top:3px;
	width:330px;
	font-size:20px;
}
#pName2 {
	position:absolute;
	left:775px;
	top:3px;
	width:330px;
	font-size:20px;
	text-align:right;
}
#pScore1 {
	position:absolute;
	left:511px;
	top:3px;
	width:47px;
	font-size:20px;
	text-align:center;
}
#pScore2 {
	position:absolute;
	left:720px;
	top:3px;
	width:47px;
	font-size:20px;
	text-align:center;
}

#pFlag1 {
	position:absolute;
	left:126px;
	top:0px;
}

#pFlag2 {
	position:absolute;
	left:1112px;
	top:0px;
}

#mText3 {
	color: #333333;
	position:absolute;
	left:560px;
	top:1px;
	width:160px;
	font-size:11px;
	font-family: 'SansationBold';
	text-align:center;
}
